// Rename this file to secrets.h and add your secret details.

// Network setup
#define WIFI_SSID "myssid"
#define WIFI_PASSWORD "password"

#define MQTT_SERVER "10.0.0.2"
#define MQTT_PORT 1883
#define MQTT_USER "mqttuser"
#define MQTT_PASSWORD "mqttpassword"

#define HOST               "dingmos"         // owner 
#define MQTT_COMMAND_TOPIC "home"